{{#if splash}}
  <div class="splash">
    <div>Search <span class="btn-link">re3data{{#bs-tooltip placement="top" viewportPadding=10}}re3data (https://www.re3data.org) is a global registry of research data repositories.{{/bs-tooltip}}</span> for a repository to upload your data</div>

    <form {{action "doSearch" query on="submit"}} class="form-horizontal">
      <div id="search-repository" class="input-group">
        {{aupac-typeahead action=(action "doTerm")
          class='form-control'
          selection=query
          source=suggest
          placeholder='Type to search...'
          allowFreeInput='true'
          async=true
          value=query
          notFoundTemplate=customNotFoundTemplate
          minLength=4}}
        <div class="input-group-btn">
          <button type="submit" class="btn btn-primary hidden-xs">Search</button>
        </div>
      </div>
    </form>

    <div class="strike">
      <span><em>or</em></span>
    </div>

    <div class="recommended"><button {{action "selectFilter" "agu-fair"}} class="btn-link">See the repositories</button>in re3data that meet the criteria of the Enabling FAIR Data Project.</div>
  </div>
{{else}}
  <div class="form-group">
    <div>{{radio-button value="all" groupValue=filter radioClass="radio" changed="selectFilter"}}Search <span class="btn-link">re3data{{#bs-tooltip placement="top" viewportPadding=10}}re3data (https://www.re3data.org) is a global registry of research data repositories.{{/bs-tooltip}}</span> for a repository to upload your data</div>
    <div>{{radio-button value="agu-fair" groupValue=filter radioClass="radio" changed="selectFilter"}}See the repositories in re3data that meet the criteria of the{{#if (eq filter "agu-fair")}}<button {{action "toggle"}} class="btn-link">Enabling FAIR Data Project {{#if collapsed}}{{fa-icon "toggle-off"}}{{else}}{{fa-icon "toggle-on"}}{{/if}}</button>{{else}} Enabling FAIR Data Project{{/if}}</div>
    <div>{{radio-button value="fairs-fair" groupValue=filter radioClass="radio" changed="selectFilter"}}See the repositories in re3data that meet the criteria of the{{#if (eq filter "fairs-fair")}}<button {{action "toggle"}} class="btn-link">FairsFair Project {{#if collapsed}}{{fa-icon "toggle-off"}}{{else}}{{fa-icon "toggle-on"}}{{/if}}</button>{{else}} FairsFair Project{{/if}}</div>

  </div>

  {{#bs-collapse collapsed=collapsed}}
    <div class="form-group">
      {{#if (eq filter "agu-fair")}}
      <div class="checkbox">
        <label>
          {{input type="checkbox" name="subject" disabled=disabled checked=subject click=(action 'doSubject' value="target.checked")}} The repository is a domain repository for the Earth, space and environmental sciences
        </label>
      </div>
      <span class="help-block">The repository has special expertise and is used by the community.</span>
      {{/if}}
      <div class="checkbox">
        <label>
          {{input type="checkbox" name="open" disabled=disabled checked=open click=(action 'doOpen' value="target.checked")}} The repository provides open access to its data <div class="info-icon icons-open_access_active"/>
        </label>
      </div>
      <span class="help-block">Research data hosted by the repository are accessible without restrictions.</span>
      <div class="checkbox">
        <label>
          {{input type="checkbox" name="pid" disabled=disabled checked=pid click=(action 'doPid' value="target.checked")}} The repository uses persistent identifiers <div class="info-icon icons-persistent_identifier_active"/>
        </label>
      </div>
      <span class="help-block">Persistent identifiers such as DOIs uniquely identifier datasets, enable the linking to publications, and help with discovery.</span>
      {{#if (eq filter "fairs-fair")}}
      <div class="checkbox">
        <label>
          {{input type="checkbox" name="certified" disabled=disabled checked=certified click=(action 'doCertified' value="target.checked")}} The repository is certified<div class="info-icon icons-certificate_active"/>
        </label>
      </div>
      <span class="help-block">Certifications make sure repositories follow community standards and best practices</span>
      {{/if}}
    </div>

    {{#if (or (eq filter "agu-fair") (eq filter "fairs-fair"))}}
      <button {{action "change"}} class="btn btn-sm">{{#if disabled}}Change criteria for this search {{fa-icon "pencil"}}{{else}}Reset criteria for this search {{fa-icon "undo"}}{{/if}}</button>

      <div class="alert-repository">
        {{#if notDisabled}}
          {{#bs-alert type='warning'}}
            You will now search all repositories in re3data. Please verify with your publisher or funder whether the repository of 
            your choice is appropriate.
          {{/bs-alert}}
        {{/if}}
      </div>
    {{/if}}
  {{/bs-collapse}}

  <form {{action "doSearch" query on="submit"}} class="form-horizontal">
    <div id="search-repository" class="input-group">
      {{aupac-typeahead action=(action "doTerm")
        class='form-control'
        selection=query
        source=suggest
        placeholder='Type to search...'
        allowFreeInput='true'
        async=true
        value=query
        notFoundTemplate=customNotFoundTemplate
        minLength=4}}
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary hidden-xs">Search</button>
      </div>
    </div>
  </form>

  {{#unless isLoaded}}
    {{ember-spinner lines=11 length=16 radius=27 width=8 rotate=10 speed='1.1' color='#6c797a'}}
  {{/unless}}

  {{#if (gt model.meta.total 1)}}
    <div id="sort" class="input-group pull-right">
      <select onchange={{action 'sort' value="target.value"}}>
        {{#each-in formats as |key value|}}
          <option name="sort" value={{key}} selected={{eq sort key}}>{{value}}</option>
        {{/each-in}}
      </select>
    </div>

    <h3 class="repository-results">{{pluralize-word (format-number model.meta.total) "Repository"}}</h3>
  {{/if}}
{{/if}}
