<form {{action "doSearch" query on="submit"}} class="form-horizontal">
  <label>Search <span class="btn-link">re3data{{#bs-tooltip placement="top" viewportPadding=10}}re3data (https://www.re3data.org) is a global registry of research data repositories.{{/bs-tooltip}}</span> for a repository for your data</label>
  <div id="search" class="input-group">
    {{aupac-typeahead action=(action (mut term))
      class='form-control'
      selection=query
      source=suggest
      placeholder='Type to search...'
      allowFreeInput='true'
      async=true
      value=query
      notFoundTemplate=customNotFoundTemplate
      minLength=4}}
    {{#if hasInput}}
      <span id="search-clear-repo" title="Clear" aria-label="Clear" {{action 'clear'}}>{{fa-icon "times-circle"}}</span>
    {{/if}}
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary hidden-xs">Search</button>
    </div>
  </div>
  <span class="help-block search-form">Search for data repositories in re3data by respository name, subject area, keyword, or any other repository information collected by re3data.</span>
</form>

{{#if (gt model.meta.total 1)}}
  <div id="sort" class="input-group pull-right">
    <select onchange={{action 'sort' value="target.value"}}>
      {{#each-in formats as |key value|}}
        <option name="sort" value={{key}} selected={{eq sort key}}>{{value}}</option>
      {{/each-in}}
    </select>
  </div>

  <h3 class="repository-results">{{pluralize (format-number model.meta.total) modelName}}</h3>
{{/if}}