{{application-header}}

<div class="container-fluid">
  <div class='col-md-9 repository-finder'>
    {{model-search model=model sortable=true}}

    {{#if model}}
      {{#each model as |repository|}}
        <h3 class="work">
          {{model-icons model=repository}}

          {{#link-to "show" repository.id}}{{repository.repositoryName}}{{#if repository.additionalName}}<div class="subtitle">{{repository.additionalName.text}}</div>{{/if}}{{/link-to}}
        </h3>

        {{#if repository.description}}
          <div>{{repository.description}}</div>
        {{/if}}

        {{#if repository.subjects}}
          <h5>Subject Areas</h5>
          <div class="subject">
            {{#each repository.subjects as |sub|}}
              {{subject-label subject=sub}}
            {{/each}}
          </div>
        {{/if}}

        {{#if repository.keywords}}
          <h5>Keywords</h5>
          <div class="subject">
            {{#each repository.keywords as |key|}}
              {{#link-to "index" (query-params query=key.text)}}<span class="label label-info label-sm">{{key.text}}</span>{{/link-to}}
            {{/each}}
          </div>
        {{/if}}
      {{/each}}
      <div class="text-center">
        {{#if (gt model.meta.total_pages 1)}}
          {{page-numbers content=model numPagesToShow=5 showFL=false}}
        {{/if}}
      </div>
    {{else}}
      {{#bs-alert dismissible=false type="warning"}}
        No repositories found.
      {{/bs-alert}}
    {{/if}}
  </div>
</div>
  
  