  {{application-header}}

  <div class="container-fluid">
    <div class="content">
      <h2 class="repository">
        {{model.repositoryName}}
      </h2>

      <div class="row">
        <div class='col-md-9'>
          <div class="panel panel-transparent">
            <div class="panel-body">
              {{#if model.description}}
                {{model.description}}<br/>
              {{/if}}

              {{#if model.additionalNames}}
                <h5>Additional Names</h5>
                 {{#each model.additionalNames as |name|}}
                   {{name.text}}<br/>
                {{/each}}
              {{/if}}

              {{#if model.subjects}}
                <h5>Subject Areas</h5>
                <div class="subject">
                  {{#each model.subjects as |sub|}}
                    {{subject-label subject=sub}}
                  {{/each}}
                </div>
              {{/if}}

              {{#if model.keywords}}
                <h5>Keywords</h5>
                <div class="subject">
                  {{#each model.keywords as |key|}}
                    {{#link-to "index" (query-params query=key.text)}}<span class="label label-info label-sm">{{key.text}}</span>{{/link-to}}
                  {{/each}}
                </div>
              {{/if}}

              {{#if model.dataAccesses}}
                <h5>Data Access <div class="info-icon icons-open_access_active"/></h5>
                {{#each model.dataAccesses as |data|}}
                  {{data.type}}<br/>
                {{/each}}
              {{/if}}

              {{#if model.dataUploads}}
                <h5>Data Upload</h5>
                {{#each model.dataUploads as |data|}}
                  {{data.type}}<br/>
                {{/each}}
              {{/if}}

              <h5>Persistent Identifier <div class="info-icon icons-persistent_identifier_active"/></h5>
              {{#if model.pidSystems}}
                {{#each model.pidSystems as |pid|}}
                  {{pid.text}}<br/>
                {{/each}}
              {{else}}
                none
              {{/if}}

              <h5>Certificates <div class="info-icon icons-certificate_active"/></h5>
              {{#if model.certificates}}
                {{#each model.certificates as |cert|}}
                  {{cert.text}}<br/>
                {{/each}}
              {{else}}
                none
              {{/if}}

              {{#if model.providerTypes}}
                <h5>Provider Type</h5>
                {{#each model.providerTypes as |type|}}
                  {{type.text}}<br/>
                {{/each}}
              {{/if}}

              {{#if model.types}}
                <h5>Repository Type</h5>
                {{#each model.types as |type|}}
                  {{type.text}}<br/>
                {{/each}}
              {{/if}}

              {{#if model.repositoryContacts}}
                <h5>Contact</h5>
                {{#each model.repositoryContacts as |contact|}}
                  <a href="{{contact.text}}">{{contact.text}}</a><br/>
                {{/each}}
              {{/if}}
            </div>

            <div class="panel-footer">
              {{#if model.repositoryUrl}}
                <a href="{{model.repositoryUrl}}">{{fa-icon "external-link"}} {{model.repositoryUrl}}</a>
              {{/if}}
            </div>
            <div class="panel-footer">
              <br/>
              <div class="btn-toolbar">
                {{#link-to "index" class="btn btn-sm btn-default"}}Back to Search{{/link-to}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <a href="https://www.re3data.org/repository/r3d{{model.id}}"><img class="img-responsive" src="{{model.badgeUrl}}"></a>
          <div class="panel panel-transparent add">
            <div class="panel-body metadata">
              {{#if model.startDate}}
                <h5>Start Date</h5>
                {{format-time model.startDate year='numeric' month='long' day='numeric'}}
              {{/if}}

              {{#if model.endDate}}
                <h5>End Date</h5>
                {{format-time model.endDate year='numeric' month='long' day='numeric'}}
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>